<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Orbiter is a bootstrap minimal & clean admin template"
    />
    <meta
      name="keywords"
      content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk"
    />
    <meta name="author" content="Themesbox" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>e-hospital forgotpsw</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="assets/images/logonavigator.png" />
    <!-- Start css -->
    <link
      href="assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="cssControlForm.css" />
    <!-- End css -->
  </head>
  <body class="vertical-layout area" id="vertical-layout">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg">
      <!-- Start Container -->
      <div class="container">
        <div class="auth-box forgot-password-box">
          <!-- Start row -->
          <div class="row no-gutters align-items-center justify-content-center">
            <!-- Start col -->
            <div class="col-md-6 col-lg-5">
              <!-- Start Auth Box -->
              <div class="auth-box-right">
                <div class="card">
                  <div class="card-body">
                    <form action="#">
                      <h4 class="text-primary my-4">Mot de passe oublié ?</h4>
                      <p class="mb-4">
                        Entrez l'adresse e-mail pour la réinitialisation de
                        votre mot de passe.
                      </p>
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Email ID"
                          required
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn btn-success btn-lg btn-block font-18"
                        id="log"
                      >
                        Envoyer l'email
                      </button>
                    </form>
                    <!--<p class="mb-0 mt-3">
                      Remember Password? <a href="login.html">Log in</a>
                    </p>-->
                  </div>
                </div>
              </div>
              <!-- End Auth Box -->
            </div>
            <!-- End col -->
          </div>
          <!-- End row -->
        </div>
      </div>
      <!-- End Container -->
    </div>

    <!------ Include the above in your HEAD tag ---------->

    <!-- End Containerbar -->
    <!-- Start js -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <!-- End js -->
  </body>
</html>
